<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <title><%= title %></title>
        <div>
            <div><%= emoji.encoding %></div>
            <div>
                <p>
                    <%= emoji.emoji_name %>
                    <button type="button"> Edit </button>
                </p>
                <form action="/edit/<%= emoji.emoji_id %>" method="POST">
                    <label for="name"> New Name: </label>
                    <input type="text" id="name" name="name">
                    <div>
                        <button type="submit"> Update </button>
                        <button type="button"> Cancel </button>
                    </div>
                </form>
                <%= emoji.date_added %>
                <div>
                    <form action="/info/<%= emoji.emoji_id %>" method="POST">
                        <label for="category"></label>
                        <input type="text" id="category" name="category">
                        <button type="submit"> Add Tag </button>
                    </form>
                    <% categories.forEach(category => { %>
                        <a href="/category/<%=category.category_id%>"><%= category.category_name %></a>
                    <% }) %>
                </div>
            </div>
        </div>
    </body>
    <script>
<!--        make form button apepar and dissapear on button press-->
    </script>
</html>