<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <title><%= title %></title>
        <div>
            <div><%= emoji.encoding %></div>
            <div>
                <p>
                    <%= emoji.emoji_name %>
                    <button type="button"> Edit </button>
                </p>
                <form action="/emoji/<%= emoji.emoji_id %>/edit/name/" method="POST">
                    <label for="name"> New Name: </label>
                    <input type="text" id="name" name="name">
                    <div>
                        <button type="submit"> Update </button>
                        <button type="button"> Cancel </button>
                    </div>
                </form>
                <%= emoji.date_added %>
                <div>
                    <form action="/emoji/<%= emoji.emoji_id %>/edit/category/add" method="POST">
                        <label for="category"></label>
                        <input type="text" id="category" name="category" required>
                        <button type="submit"> Add Tag </button>
                    </form>
                    <% categories.forEach(category => { %>
                        <div>
                            <a href="/category/<%= category.category_id %>"><%= category.category_name %></a>
                            <form action="/emoji/<%=emoji.emoji_id%>/edit/category/delete/<%= category.category_id%>/"
                                method="POST">
                                <button type="submit"> Remove </button>
                            </form>
                        </div>
                    <% }) %>
                </div>
            </div>
            <form action="/emoji/<%=emoji.emoji_id%>/delete" method="POST">
                <button type="submit"> Delete Emoji </button>
            </form>
        </div>
    </body>
    <script>
<!--       todo:  make form button apepar and dissapear on button press-->
    </script>
</html>