<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="/emoji.css">
    </head>
    <body>
        <div id="card">
            <div id="emoji"><%= emoji.encoding %></div>
            <div id="info">
                <p>
                    <%= emoji.emoji_name %>
                    <button id="edit" type="button"> Edit </button>
                </p>
                <form id="edit_form" action="/emoji/<%= emoji.emoji_id %>/edit/name/" method="POST">
                    <label for="name"> New Name: </label>
                    <input type="text" id="name" name="name" required>
                    <div>
                        <button type="submit" id="update"> Update </button>
                        <button type="button" id="cancel"> Cancel </button>
                    </div>
                </form>
                <%= emoji.date_added %>
                <div>
                    <form action="/emoji/<%= emoji.emoji_id %>/edit/category/add" method="POST">
                        <label for="category"></label>
                        <input type="text" id="category" name="category" required>
                        <button type="submit"> Add Tag </button>
                    </form>
                    <div id="tags">
                        <% categories.forEach(category => { %>
                            <div id="tag">
                                <a href="/category/<%= category.category_id %>"><%= category.category_name %></a>
                                <form action="/emoji/<%=emoji.emoji_id%>/edit/category/delete/<%= category.category_id%>/"
                                      method="POST">
                                    <button type="submit"> X </button>
                                </form>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <form action="/emoji/<%=emoji.emoji_id%>/delete" method="POST">
            <button type="submit"> Delete Emoji </button>
        </form>
    </body>
    <script>
        const edit_button = document.getElementById("edit")
        const edit_form = document.getElementById("edit_form")
        const cancel_button = document.getElementById("cancel")
        edit_button.addEventListener("click", () => {
            edit_form.style.display = "block"
        })
        cancel_button.addEventListener("click", () => {
            edit_form.reset()
            edit_form.style.display = "none"
        })

    </script>
</html>