<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        <h1><%= title %></h1>
        <form id="search" method="GET" action="/search">
            <label for="name"> Name: </label>
            <input type="text" id="name" name="name">
            <label for="category"> Category: </label>
            <select id="category" name="category">
                <option value=""> None </option>
                <% categories.forEach(category => { %>
                    <option value="<%= category.category_id %>"><%= category.category_name %></option>
                <% }) %>
            </select>
            <label for="min_date"> Min Date: </label>
            <input type="date" id="min_date" name="min_date">
            <label for="max_date"> Max Date: </label>
            <input type="date" id="max_date" name="max_date">
            <button type="submit">Search</button>
        </form>
        <div>
            <% emojis.forEach(emoji => {%>
                <a href="/emoji/<%= emoji.emoji_id %>"> <%= emoji.encoding %></a>
            <% }) %>
        </div>
        <button id = "new" type="submit" > + </button>
        <form id = "new_form" action="/new" method="POST">
            <label for="name"> Name: </label>
            <input type="text" id="name" name="name" required>
            <!--            todo: add check that it is an emoji that is passed through-->
            <label for="emoji"> Emoji: </label>
            <input type="text" id="emoji" name="emoji" required>
            <button type="submit">Submit</button>
        </form>
    </body>
    <script>
        const new_button = document.getElementById("new")
        const new_form = document.getElementById("new_form")
        new_button.addEventListener("click", () => {
            new_form.style.display = "block"
        })
    </script>
</html>