<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <form method="GET" action="/search">
            <label for="name"> Name: </label>
            <input type="text" id="name" name="name">
            <label for="nationality"> Nationality: </label>
            <select name="nationality" id="nationality">
                <% nationalities.forEach(nationality => { %>
                    <option value="<%= nationality %>"><%= nationality %></option>
                <% }) %>
            </select>
            <label for="league"> League: </label>
            <select name="league" id="league">
                <% leagues.forEach(league => { %>
                    <option value="<%= league %>"><%= league %></option>
                <% }) %>
            </select>
            <label for="team"> Team: </label>
            <select name="team" id="team">
                <% teams.forEach(team => { %>
                    <option value="<%= team %>"><%= team %></option>
                <% }) %>
            </select>
            <label for="position"> Position: </label>
            <select name="position" id="position">
                <% positions.forEach(position => { %>
                    <option value="<%= position %>"><%= position %></option>
                <% }) %>
            </select>
            <button type="submit">Submit</button>
        </form>
        <ol>
            <% players.forEach(player => { %>
                <li>
                    <%= player %>
<!--                    open a new page with specific players data -->
                </li>
            <% }) %>
        </ol>
        <form method="GET" action="/new">
            <button type="submit"> New </button>
        </form>
    </body>
</html>